.base__wrapper {
  border-radius: 12px;
  background-color: #0a0a0a;
  margin-top: 26px;
  padding: 20px;

  form {
    display: flex;
    gap: 20px;

    & > div {
      width: 100%;

      .btns {
        display: flex;
        margin: 16px auto 16px;

        button {
          width: 100%;
          height: 50px;
          border: 1px solid white;
          font-size: 16px;
          transition: all 0.2s;
        }
      }
    }

    input {
      width: 100%;
      height: 40px;
      outline: none;
      border: 1px solid white;
      border-radius: 5px;
      background-color: transparent;
      transition: all 0.2s;
      margin: 16px auto;
      padding-left: 10px;

      &:focus {
        background-color: white;
        color: black;
        box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
      }
    }

    input[type='file'] {
      display: none;
    }

    .cus_label {
      width: 100%;
      display: inline-block;
      border: 1px solid white;
      border-radius: 5px;
      padding: 10px;
      cursor: pointer;
      transition: all 0.2s;
      margin-top: 16px;

      &:hover {
        background-color: white;
        color: black;
        box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
      }
    }

    .borders {
      height: 100%;
      max-height: 115px;
      display: flex;
      gap: 20px;
      margin-top: 16px;

      & > div {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        padding: 10px;

        img {
          max-width: 100%;
        }
      }
    }

    .chip {
      display: flex;
      align-items: center;
      gap: 20px;
      margin-top: 16px;

      input[type='checkbox'] {
        width: 20px;
        box-shadow: none;
        margin: 0;
      }
    }
  }

  .custom__form {
    display: grid;

    input {
      margin: 0;
    }
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;

    img {
      width: 100%;
      cursor: pointer;
    }
  }
}

@media all and (max-width: 1000px) {
  .base__wrapper {
    form {
      flex-direction: column;

      .chip {
        margin-top: 70px;
      }
    }
  }
}

@media all and (max-width: 500px) {
  .base__wrapper form .btns {
    flex-direction: column;
  }
}
