@font-face {
  font-family: 'Aeonik Regular';
  src: url('./assets/font/AeonikTRIAL-Regular.otf');
}

@font-face {
  font-family: 'Aeonik Bold';
  src: url('./assets/font/AeonikTRIAL-Bold.otf');
}

@font-face {
  font-family: 'Copperplate';
  src: url('./assets/font/Copperplate Gothic Bold Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  color: white;
}

body {
  font-family: 'Aeonik Regular';
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: white;
}

button {
  cursor: pointer;
  font-family: 'Aeonik Regular';
}

input {
  font-family: 'Aeonik Regular', sans-serif;
  font-size: 16px;
}

.owl-stage-outer {
  overflow: unset !important;
  overflow-x: clip !important;
}

.owl-stage {
  display: flex;
}

.owl-item {
  transform: scale3d(0.8, 0.8, 1) !important;
  opacity: 0.5;
  transition: all 0.3s;
}

.owl-item.active.center {
  transform: scale3d(1, 1, 1) !important;
  opacity: 1;
  transition: all 0.3s;
}

.p-accordion
  .p-accordion-header:not(.p-disabled)
  .p-accordion-header-link:focus {
  box-shadow: unset !important;
}

.p-accordion-header-link {
  border: none !important;
  background-color: transparent !important;
  font-size: 14px !important;
}

.p-accordion-content {
  border: none !important;
  background-color: transparent !important;
  color: white !important;
  font-size: 14px !important;
}

.JoyModalDialog-root {
  border: none !important;
  padding: 0 !important;
}

svg {
  cursor: pointer;
}

input[type='button'] {
  cursor: pointer;
}

@media (max-width: 1550px) and (min-width: 1536px) {
  .container {
    padding: 0 30px;
    max-width: 1536px;
  }
}

img {
  object-fit: contain;
}

@media (max-width: 1300px) and (min-width: 1280px) {
  .container {
    padding: 0 30px;
  }
}

@media (max-width: 1040px) and (min-width: 1025px) {
  .container {
    padding: 0 30px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    padding: 0 30px;
    width: 98%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .container {
    max-width: 992px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 15px;
    width: 100%;
  }
}
