@font-face {
  font-family: 'Aeonik Regular';
  src: url('./assets/font/AeonikTRIAL-Regular.otf');
}

@font-face {
  font-family: 'Aeonik Bold';
  src: url('./assets/font/AeonikTRIAL-Bold.otf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Aeonik Regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@media (max-width: 1550px) and (min-width: 1536px) {
  .container {
    padding: 0 30px;
    max-width: 1536px;
  }
}

@media (max-width: 1300px) and (min-width: 1280px) {
  .container {
    padding: 0 30px;
  }
}

@media (max-width: 1040px) and (min-width: 1025px) {
  .container {
    padding: 0 30px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    padding: 0 30px;
    width: 98%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .container {
    max-width: 992px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 15px;
    width: 100%;
  }
}